.App {
  text-align: center;
  background-image: url(https://cdn.motor1.com/images/mgl/XR1Mp/s1/4x3/the-10-essential-ways-to-prepare-for-a-bad-motorcycle-crash.webp);
  width: 100%;
  height: 200vh;
  object-fit: cover;
}

@media all and (min-width: 80vw) {
  .App{
    background: bisque;
    width: 100%;
    height: 100%;
  }
}
